<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot_study.dao.mapper.ModelDeptMapper">

	<!-- 开启二级缓存 -->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.example.springboot_study.dao.entity.ModelDept">
		<id column="id" property="id" />
		<result column="dept_code" property="deptCode" />
		<result column="dept_name" property="deptName" />
		<result column="branch_code" property="branchCode" />
		<result column="branch_name" property="branchName" />
		<result column="type" property="type" />
		<result column="created_date" property="createdDate" />
		<result column="extra" property="extra" />
		<result column="intro" property="intro" />
		<result column="parent_dept_code" property="parentDeptCode" />
	</resultMap>

</mapper>
